$body-bg: #f4f4f4;
$main-color: #ff0000;
$txt-color: #363F4D;
$txt-color-scd: #CCBCBC;
$txt-color-dark: #f4f4f4;

$white: #fff;
$black: #000;
$blue: #363f4D;
$purple: #A288A6;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 15px;
$sidebar-width: 150px;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

$mobile-width: 600px;
$tablet-width: 1280px;

$font-family: "Poppins", sans-serif;